body{
    background-image: url("https://images.unsplash.com/photo-1521106750680-1a5b39482449?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b8f4fa880862addf3bd1944b012d160&auto=format&fit=crop&w=1458&q=80");
}
.row{   

    /*background-color:black;*/
    color:black;
    font-size:20px;
}
.headshot{
    width:20%;
   
}
.mid{
    /*background-color:white;*/
    display:flex;
    justify-content:space-around;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}

#image{
    border-radius:50%;  
    width:300px;
    height:400px;
}
.name{
    font-family: 'Poiret One', cursive;
}
#image2{
    width:499px;
    height:556px;
    min-width: 499px;
    min-height: 556px;
}
.info{
    width:500px;
    height:50px;
    background-color:#f9dda7;
    width:150%;
}
#info{
    display:flex;
    justify-content:space-around;
}
#rowcontact{
    display:flex;
    justify-content:space-around;
}
#aboutme1{
    display:flex;
}
 #aboutme1 img{
     margin-right: 50px;
 }
 #aboutme2{
     font-size:25px;
 }